//@import './carousel.css';
@import './Montserrat.css';
$red: #df5a5a;
* {
  font-family: 'Montserrat';
}

html {
  font-size: 16px;
}

h2 {
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.red-background {
  background-color: #ff5a5a;
}

nav,
.navbar-brand {
  padding-top: 0 !important;
  height: 121px;
  overflow: visible;
}

.navbar-brand {
  padding-right: 60px;
}

.btn {
  &.btn-reg {
    /* Style for "кнопка 4" */
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: $red;
    color: #ffffff;
    padding: 4px;
  }
}

header {
  overflow: visible;
  .navbar-nav {
    flex-wrap: wrap;
    text-align: left;
    .btn-reg {
      position: absolute;
      right: 15px;
      padding: 0;
    }
    .nav-item {
      line-height: 15px;
      flex: none;
      text-align: left;
      .nav-link {
        /* Style for "О проекте" */
        line-height: 34px;
        vertical-align: middle;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.4px;
        padding: 0;
        position: relative;
        border-right: 2px solid;
        line-height: 1;
        padding-right: 18px;
        margin-right: 18px;
        margin-bottom: 13px;
      }
    }
  }
  .elements {
    display: block;
    position: absolute;
    top: 0;
    &.elements-left {
      width: 179px;
      height: 967px;
      left: 0;
      top: 168px;
      background-image: url('../../public/img/header-left-elements.png');
      background-repeat: no-repeat;
      background-size: 136%;
      background-position: center;
      background-position-x: -65px;
      background-position-y: 0;
      z-index: 0;
    }
    .elements-right {
      right: 0;
    }
  }
  .header-bg {
    background: url('../../public/img/header-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .container {
    .row {
      .col {
        height: 800px;
        padding-top: 310px;
        h1 {
          /* Style for "Фестиваль" */
          color: #ffffff;
          font-size: 65px;
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        h2 {
          /* Style for "17 июля -" */
          color: #ffffff;
          font-size: 30px;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
        form {
          input {
            &.form-control {
              /* Style for "кнопка 1" */
              width: 240px;
              height: 50px;
              border-radius: 5px;
              background-color: #ffffff;
              margin-right: 20px !important;
              /* Style for "Ваше имя" */
              color: #696969;
              font-size: 15px;
              font-weight: 200;
              /* Text style for "В, аше имя" */
              letter-spacing: 0.38px;
            }
          }
        }
      }
    }
  }
}

main {
  .numbers {
    padding-top: 143px;
    margin-bottom: 150px;
    div {
      border-right: #000000 solid 2px;
      text-align: center;
      margin-bottom: 40px;
      &:nth-child(3) {
        border-right: 0;
      }
      &:nth-child(4) {
        border-left: #000000 solid 2px;
      }
      &:nth-child(5) {
        padding-left: 0px;
        border: none;
        border-right: #000000 solid 2px;
      }
      div {
        padding: 0px 40px !important;
        margin-bottom: 0px;
        border: none;
        text-align: left;
        display: inline-block;
      }
      h2 {
        line-height: 100%;
        color: $red;
        font-size: 75px;
        font-weight: bold;
      }
      p {
        color: #000000;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 0px;
        white-space: nowrap;
      }
    }
  }
  .about {
    margin-bottom: 160px;
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
    }
    p {
      color: #000000;
      font-size: 20px;
      line-height: 35px;
    }
  }
  .events {
    display: block;
    margin-bottom: 194px;
    .nav {
      .nav-link {
        border: 2px solid #ff5a5a;
        color: #df5a5a;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border-radius: 0;
        margin-right: 44px;
        &.active {
          background-color: #df5a5a;
          border: 2px solid #df5a5a;
          color: #ffffff;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1.4px;
        }
      }
    }
    h2 {
      color: #000000;
      font-size: 35px;
      font-weight: bold;
    }
    .card {
      border: none;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      img {
        border-radius: none;
      }
      &:hover {
        .card-title {
          display: flex !important;
        }
      }
      .card-title {
        display: none !important;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #df5a5a;
        opacity: 0.7;
        margin: 0;
        a {
          opacity: 1;
          margin: 0 auto;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  footer {
    height: 281px;
    background-color: #00e1b7;
    .footer-container {
      flex-direction: row;
      position: relative;
    }
    .nav-footer {
      display: flex;
      align-self: center;
      flex-direction: row;
      padding: 0;
      flex-wrap: wrap;
      padding-top: 40px;
      .nav-item {
        line-height: 15px;
        text-align: left;
        list-style: none;
        &:last-child a {
          border: none;
        }
        .nav-link {
          line-height: 34px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          padding: 0;
          position: relative;
          border-right: 2px solid;
          line-height: 1;
          padding-right: 18px;
          margin-right: 18px;
          margin-bottom: 13px;
          white-space: nowrap;
        }
      }
    }
    .socials {
      list-style: none;
      position: absolute;
      top: 216px;
      left: 260px;
      padding: 0;
      li {
        padding: 0 16px 0 0;
      }
    }
  }
}
