//@import './carousel.css';
@import './Montserrat.css';
$red: #df5a5a;
$blue:#0179d6;
$green:#00e1b7;
.tag-red {
  border: 3px solid #ff5a5a;
  color: #ff5a5a;
}

.tag-green {
  color: #00e1b7;
  border: 3px solid #00e1b7;
}

.tag-yellow {
  color: #ffe062;
  border: 3px solid #ffe062;
}

.tag-blue {
  color: #0179d6;
  border: 3px solid #0179d6;
}

* {
  font-family: 'Montserrat';
}

html {
  font-size: 16px;
}

h2 {
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.red-background {
  background-color: #ff5a5a;
}

.navbar {
  background-color: $blue;
  @include media-breakpoint-up(xs) {
    height: auto;
    padding: 10px;
  }
  @include media-breakpoint-up(md) {
    height: 121px;
    padding: 0;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  color: white;
}

nav,
.navbar-brand {
  padding-top: 0 !important;
  height: 121px;
  overflow: visible;
}

.navbar-brand {
  padding-right: 60px;
}

.btn {
  &.btn-reg {
    /* Style for "кнопка 4" */
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: $red;
    color: #ffffff;
    padding: 4px;
  }
}

header {
  overflow: visible;
  .fullscreen-bg__container {
    overflow: hidden;
    max-height: 800px;
    position: relative;
  }
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .pattern {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../public/img/pattern.png');
    background-repeat: repeat;
  }
  .navbar-nav {
    flex-wrap: wrap;
    text-align: left;
    .btn-reg {
      position: absolute;
      right: 15px;
      padding: 0;
    }
    .nav-item {
      line-height: 15px;
      flex: none;
      text-align: left;
      .nav-link {
        /* Style for "О проекте" */
        line-height: 34px;
        vertical-align: middle;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.4px;
        padding: 0;
        position: relative;
        border-right: 2px solid;
        line-height: 1;
        padding-right: 18px;
        margin-right: 18px;
        margin-bottom: 13px;
        &.disabled {
          cursor: default;
          opacity: 0.3;
        }
      }
    }
  }
  .elements {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    &.elements-left {
      width: 297px;
      height: 702px;
      left: 0;
      top: 168px;
      background-image: url('../../public/img/header-left-elements.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      z-index: 1;
    }
    &.elements-right {
      right: 0;
      top: 22px;
      width: 313px;
      height: 779px;
      background-image: url('../../public/img/header-right-elements.png');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }
  .header-bg {
    background: url('../../public/img/header-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .container {
    .row {
      .col {
        @include media-breakpoint-up(md) {
          height: 800px;
        }
        padding-top: 310px;
        h1 {
          /* Style for "Фестиваль" */
          @include media-breakpoint-up(xs) {
            color: $blue;
            font-size: 45px;
          }
          @include media-breakpoint-up(md) {
            color: #ffffff;
            font-size: 65px;
          }
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        h2 {
          /* Style for "17 июля -" */
          color: #ffffff;
          font-size: 30px;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 40px;
          @include media-breakpoint-up(xs) {
            color: $blue;
            font-size: 25px;
          }
          @include media-breakpoint-up(md) {
            color: #ffffff;
            font-size: 30px;
          }
        }
        form {
          input {
            &.form-control {
              /* Style for "кнопка 1" */
              width: 240px;
              height: 50px;
              border-radius: 5px;
              background-color: #ffffff;
              margin-right: 20px !important;
              /* Style for "Ваше имя" */
              color: #696969;
              font-size: 15px;
              font-weight: 200;
              /* Text style for "В, аше имя" */
              letter-spacing: 0.38px;
            }
          }
        }
      }
    }
  }
}

main {
  .numbers {
    @include media-breakpoint-up(md) {
      padding-top: 143px;
    }
    margin-bottom: 68px;
    flex-wrap: wrap;
    &>div:last-child {
      border-right: none;
    }
    div {
      border-right: #000000 solid 2px;
      text-align: center;
      margin-bottom: 40px;
      div {
        padding: 0px 40px !important;
        margin-bottom: 0px;
        border: none;
        text-align: left;
        display: inline-block;
      }
      h2 {
        line-height: 100%;
        color: $red;
        font-size: 75px;
        font-weight: bold;
      }
      p {
        color: #000000;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 0px;
        white-space: nowrap;
      }
    }
  }
  .tags {
    flex-wrap: wrap;
    margin-bottom: 68px;
    li {
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.63px;
      padding: 10px 20px;
      list-style: none;
      margin-right: 38px;
      margin-bottom: 28px;
    }
  }
  .about {
    margin-bottom: 160px;
    h2 {
      border-top: 3px solid;
      display: inline-block;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
    }
    p {
      color: #000000;
      font-size: 20px;
      line-height: 35px;
    }
  }
  .events {
    display: block;
    margin-bottom: 194px;
    .nav {
      .nav-link {
        border: 2px solid #ff5a5a;
        color: #df5a5a;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border-radius: 0;
        margin-right: 44px;
        &.active {
          background-color: #df5a5a;
          border: 2px solid #df5a5a;
          color: #ffffff;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1.4px;
        }
      }
    }
    h2 {
      color: #000000;
      font-size: 35px;
      font-weight: bold;
    }
    .card {
      border: none;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      img {
        border-radius: none;
      }
      &:hover {
        .card-title {
          display: flex !important;
        }
      }
      .card-title {
        display: none !important;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #df5a5a;
        opacity: 0.7;
        margin: 0;
        a {
          opacity: 1;
          margin: 0 auto;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .registration {
    background-image: url("../../public/img/reg-bg.png");
    padding: 193px 0;
    background-position: center;
    background-size: cover;
    &>div {
      background-color: #ffe062;
      &>div {
        &>div {
          h2 {
            color: #0179d6;
            font-size: 35px;
            font-weight: bold;
            max-width: 665px;
            margin: 0 auto;
            text-align: center;
            padding: 57px 0;
          }
          form {
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 90px;
            .form-control {
              color: $blue;
              &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: $blue;
              }
              &::-moz-placeholder {
                /* Firefox 19+ */
                color: $blue;
              }
              &:-ms-input-placeholder {
                /* IE 10+ */
                color: $blue;
              }
              &:-moz-placeholder {
                /* Firefox 18- */
                color: $blue;
              }
            }
            .btn-reg {
              background-color: #0179d6;
              border-radius: 0;
              margin-top: 50px;
            }
          }
        }
      }
    }
  }
}

footer {
  min-height: 281px;
  background-color: #00e1b7;
  .footer-container {
    flex-direction: row;
    position: relative;
  }
  .nav-footer {
    display: flex;
    align-self: center;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 40px;
    @include media-breakpoint-up(xs) {
      .nav-item {
        line-height: 15px;
        text-align: left;
        list-style: none;
        display: inline-block;
        &:last-child a {
          border: none;
        }
        .nav-link {
          line-height: 34px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          padding: 0;
          position: relative;
          border-right: 2px solid;
          line-height: 1;
          padding-right: 18px;
          margin-right: 18px;
          margin-bottom: 13px;
          white-space: nowrap;
          &.disabled {
            cursor: default;
            opacity: 0.3;
          }
        }
      }
    }
    @include media-breakpoint-up(sm) {
      .nav-item {
        line-height: 15px;
        text-align: left;
        list-style: none;
        &:last-child a {
          border: none;
        }
        .nav-link {
          line-height: 34px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          padding: 0;
          position: relative;
          border-right: 2px solid;
          line-height: 1;
          padding-right: 18px;
          margin-right: 18px;
          margin-bottom: 13px;
          white-space: nowrap;
        }
      }
    }
  }
  .socials {
    @include media-breakpoint-up(xs) {
      list-style: none;
      position: relative;
      padding: 0;
      display: inline-block;
      li {
        display: inline-block;
        padding: 0 16px 0 0;
      }
    }
    @include media-breakpoint-up(sm) {
      list-style: none;
      position: absolute;
      top: 216px;
      left: 200px;
      padding: 0;
      li {
        padding: 0 16px 0 0;
      }
    }
  }
}
