//@import './carousel.css';
@import './Montserrat.css';
$red: #df5a5a;
$blue:#0179d6;
$green:#00e1b7;
$yellow: #f6df6b;
.mb-20 {
  margin-bottom: 20px;
}

.tag-red {
  border: 3px solid #ff5a5a;
  color: #ff5a5a;
}

.tag-green {
  color: #00e1b7;
  border: 3px solid #00e1b7;
}

.tag-yellow {
  color: #ffe062;
  border: 3px solid #ffe062;
}

.tag-blue {
  color: #0179d6;
  border: 3px solid #0179d6;
}

* {
  font-family: 'Montserrat';
}

html {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.red-background {
  background-color: #ff5a5a;
}

.navbar {
  background-color: $blue;
  flex-wrap: nowrap;
  @include media-breakpoint-up(xs) {
    height: auto;
    padding: 10px;
  }
  @include media-breakpoint-up(md) {
    height: 121px;
    padding: 0;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  color: white;
}

nav,
.navbar-brand {
  padding: 0;
  @include media-breakpoint-up(xs) {
    height: 121px;
    overflow: visible;
    padding-right: 60px;
    position: absolute;
    top: 0;
  }
  @include media-breakpoint-up(md) {
    position: relative;
  }
}

.navbar-collapse {
  @include media-breakpoint-up(xs) {
    margin-left: 150px;
  }
  @include media-breakpoint-up(md) {
    margin-left: 0px;
  }
}

.btn {
  &.btn-reg {
    /* Style for "кнопка 4" */
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: $red;
    color: #ffffff;
    padding: 4px;
  }
}

header {
  overflow: visible;
  height: 700px;
  @include media-breakpoint-up(xs) {
    padding-top: 50px;
  }
  @include media-breakpoint-up(md) {
    height: 800px;
    padding-top: 121px;
  }
  .fullscreen-bg__container {
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: auto;
    overflow: hidden;
  }
  .pattern {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../public/img/pattern.png');
    background-repeat: repeat;
  }
  .navbar-nav {
    flex-wrap: wrap;
    text-align: left;
    .btn-reg {
      position: absolute;
      right: 15px;
      padding: 0;
    }
    .nav-item {
      line-height: 15px;
      flex: none;
      text-align: left;
      .nav-link {
        /* Style for "О проекте" */
        line-height: 34px;
        vertical-align: middle;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.4px;
        padding: 0;
        position: relative;
        border-right: 2px solid;
        line-height: 1;
        padding-right: 18px;
        margin-right: 18px;
        margin-bottom: 13px;
        &.disabled {
          cursor: default;
          opacity: 0.3;
        }
      }
    }
  }
  .elements {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    &.elements-left {
      width: 297px;
      height: 702px;
      left: 0;
      top: 270px;
      background-image: url('../../public/img/header-left-elements.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      z-index: 1;
    }
    &.elements-right {
      right: 0;
      top: -55px;
      width: 366px;
      height: 828px;
      background-image: url('../../public/img/header-right-elements.png');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }
  .header-bg {
    background: url('../../public/img/header-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .container {
    .row {
      .col {
        padding-top: 200px;
        color: #f6df6b;
        @include media-breakpoint-up(lg) {
          padding-top: 310px;
        }
        h1 {
          /* Style for "Фестиваль" */
          @include media-breakpoint-up(xs) {
            color: $blue;
            font-size: 40px;
          }
          @include media-breakpoint-up(sm) {
            color: $blue;
            font-size: 45px;
          }
          @include media-breakpoint-up(md) {
            color: #f6df6b;
            font-size: 65px;
          }
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        h2 {
          /* Style for "17 июля -" */
          color: #ffffff;
          font-size: 30px;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 40px;
          @include media-breakpoint-up(xs) {
            color: $blue;
            font-size: 25px;
          }
          @include media-breakpoint-up(md) {
            color: #f6df6b;
            font-size: 30px;
          }
        }
        form {
          input {
            &.form-control {
              /* Style for "кнопка 1" */
              width: 240px;
              height: 50px;
              border-radius: 5px;
              background-color: #ffffff;
              margin-right: 20px !important;
              /* Style for "Ваше имя" */
              color: #696969;
              font-size: 15px;
              font-weight: 200;
              /* Text style for "В, аше имя" */
              letter-spacing: 0.38px;
            }
          }
        }
      }
    }
  }
}

footer {
  a:not(:disabled) {
    cursor: pointer;
  }
  min-height: 281px;
  background-color: #00e1b7;
  height: 100%;
  .footer-container {
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    .navbar-brand {
      position: absolute;
      padding: 0;
    }
  }
  .nav-footer {
    display: flex;
    align-self: center;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 40px;
    @include media-breakpoint-up(xs) {
      .nav-item {
        line-height: 15px;
        text-align: left;
        list-style: none;
        display: inline-block;
        &:last-child a {
          border: none;
        }
        .nav-link {
          line-height: 34px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          padding: 0;
          position: relative;
          border-right: 2px solid;
          line-height: 1;
          padding-right: 18px;
          margin-right: 18px;
          margin-bottom: 13px;
          white-space: nowrap;
          &.disabled {
            cursor: default;
            opacity: 0.3;
          }
        }
      }
    }
    @include media-breakpoint-up(sm) {
      margin-left: 150px;
      .nav-item {
        line-height: 15px;
        text-align: left;
        list-style: none;
        &:last-child a {
          border: none;
        }
        .nav-link {
          line-height: 34px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          padding: 0;
          position: relative;
          border-right: 2px solid;
          line-height: 1;
          padding-right: 18px;
          margin-right: 18px;
          margin-bottom: 13px;
          white-space: nowrap;
        }
      }
    }
  }
  .socials {
    list-style: none;
    position: relative;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0 16px 0 0;
    }
    @include media-breakpoint-up(sm) {
      margin-left: 150px;
    }
  }
  .licence {
    margin-top: 50px;
    opacity: 0.6;
  }
}

.contacts {
  .modal-lg {
    max-width: 1140px;
  }
  .modal-content {
    .modal-body {
      padding: 3rem;
    }
    border: none;
    border-radius: 0;
    h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 35px;
    }
    .container.address-tel {
      margin: 0 0 70px 0;
      .address {
        padding-left: 0;
        @include media-breakpoint-up(md) {
          border-right: 2px solid;
          padding-right: 50px;
          font-size: 20px;
        }
      }
      .telephone {
        padding-left: 0;
        @include media-breakpoint-up(md) {
          padding-left: 50px;
          font-size: 20px;
        }
      }
    }
    .emails {
      margin: 0 0 70px 0;
      font-size: 20px;
      line-height: 35px;
    }
  }
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 100%;
  span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 27px;
    vertical-align: middle;
    text-align: center;
  }
}
