@import '../../node_modules/bootstrap/scss/bootstrap';
@import './custom.scss';
header {
  height: auto;
  margin-bottom: 100px;
}

main {
  .events {
    color: #000000;
    padding: 30px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
    margin-bottom: 150px;
    h1 {
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 0.88px;
    }
    h2 {
      font-size: 25px;
      font-weight: 400;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 0.63px;
      border-bottom: 2px solid;
      width: 100%;
    }
    .animation {
      background-color: $yellow !important;
      transition: all 0.5s;
    }
    .filter-buttons {
      .filter-buttons__button {
        margin-right: 17px;
        margin-bottom: 17px;
        border-radius: 0;
        border: none;
        &:hover {
          background-color: #FCF0BD !important;
        }
      }
    }
    .events-list {
      list-style: none;
      margin-top: 60px;
      .events-list__item {
        width: 146px;
        height: 190px;
        padding: 10px;
        background-color: #e8e8e8;
        margin: 0 12px 12px 0;
        cursor: pointer;
        &[data-toggle='modal']:hover {
          background-color: #FCF0BD !important;
        }
        @include media-breakpoint-up(xs) {
          display: none;
        }
        @include media-breakpoint-up(xs) {
          &.animation {
            display: initial;
          }
        }
        @include media-breakpoint-up(md) {
          display: initial;
        }
        * {
          display: block;
        }
        b {
          font-size: 12px;
          font-weight: 700;
          line-height: 35px;
          text-transform: uppercase;
          letter-spacing: 0.3px;
          line-height: 1;
          margin-bottom: 10px;
        }
        p {
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          font-variant: small-caps;
          letter-spacing: 0.3px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
