@import '../../node_modules/bootstrap/scss/bootstrap';
@import './custom.scss';
main {
    .numbers {
      padding-top: 100px;
      @include media-breakpoint-up(md) {
        padding-top: 200px;
      }
      margin-bottom: 68px;
      flex-wrap: wrap;
      &>div:last-child {
        border-right: none;
      }
      div {
        @include media-breakpoint-up(xs) {
          border: none;
        }
        @include media-breakpoint-up(md) {
          border-right: #000000 solid 2px;
        }
        text-align: center;
        margin-bottom: 40px;
        flex: 1 1 auto;
        width: auto;
        &>* {
          @include media-breakpoint-up(xs) {
            text-align: center
          }
          @include media-breakpoint-up(md) {
            text-align: left
          }
        }
        div {
          padding: 0px 40px !important;
          margin-bottom: 0px;
          border: none;
          text-align: left;
          display: inline-block;
        }
        h2 {
          line-height: 100%;
          color: $red;
          font-size: 75px;
          font-weight: bold;
        }
        p {
          color: #000000;
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 0px;
          white-space: nowrap;
        }
      }
    }
    .tags {
      // flex-wrap: wrap;
      // margin-bottom: 68px;
      // li {
      //   font-size: 25px;
      //   font-weight: bold;
      //   text-transform: uppercase;
      //   letter-spacing: 0.63px;
      //   padding: 10px 20px;
      //   list-style: none;
      //   margin-right: 38px;
      //   margin-bottom: 28px;
      // }
      background-color: #f5f5f5;
      padding: 170px 0;
      .nav-item {
        margin-bottom: 10px;
        white-space: nowrap;
      }
      .tags__tag {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        display: inline-block;
        border-radius: 0;
        border: solid 3px;
        border-radius: 0;
        white-space: normal;
        &.active {
          color: black;
        }
        &--red {
          border-color: #df5a5a;
          &.active,
          &:hover {
            border-color: #df5a5a;
            background-color: #df5a5a;
          }
        }
        &--green {
          border-color: #7fe0b8;
          &.active,
          &:hover {
            border-color: #7fe0b8;
            background-color: #7fe0b8;
          }
        }
        &--blue {
          border-color: #4377d2;
          &.active,
          &:hover {
            border-color: #4377d2;
            background-color: #4377d2;
          }
        }
        &--yellow {
          border-color: #f6df6b;
          &.active,
          &:hover {
            border-color: #f6df6b;
            background-color: #f6df6b;
          }
        }
      }
      .tags__devider {
        padding: 15px;
        /* Style for "̸̸̸" */
        width: 19px;
        height: 22px;
        color: #000000;
        font-family: "Montserrat - Extra Light";
        font-size: 25px;
        font-weight: bold;
        /* Text style for "̸, ̸̸" */
        letter-spacing: 0.63px;
      }
      .tab-content>.tab-pane {
        display: none !important;
      }
      .tab-content>.active {
        display: flex !important;
        flex-wrap: wrap;
      }
      .tab-pane {
        .line {
          width: 160px;
          border-bottom: #000000 1px solid;
          margin-bottom: 40px;
        }
        p {
          color: #000000;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: bold;
          line-height: 29.99px;
          /* Text style for "Есть много" */
          letter-spacing: 0.2px;
        }
        img{
          width: 100%;
        }
      }
    }
    .about {
      padding: 160px 0;
      h2 {
        border-top: 3px solid;
        display: inline-block;
      }
      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
      p {
        color: #000000;
        font-size: 20px;
        line-height: 35px;
      }
    }
    .events {
      display: block;
      margin-bottom: 194px;
      .nav {
        .nav-link {
          border: 2px solid #ff5a5a;
          color: #df5a5a;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          border-radius: 0;
          margin-right: 44px;
          &.active {
            background-color: #df5a5a;
            border: 2px solid #df5a5a;
            color: #ffffff;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
          }
        }
      }
      h2 {
        color: #000000;
        font-size: 35px;
        font-weight: bold;
      }
      .card {
        border: none;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        img {
          border-radius: none;
        }
        &:hover {
          .card-title {
            display: flex !important;
          }
        }
        .card-title {
          display: none !important;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: #df5a5a;
          opacity: 0.7;
          margin: 0;
          a {
            opacity: 1;
            margin: 0 auto;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .partners {
      margin-bottom: 117px;
      text-align: center;
      h2 {
        padding: 0 0 30px 0;
      }
      h3 {
        padding: 20px 0 12px 0;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        line-height: 22.06px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
      }
      .partner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 2px solid #ddd;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .registration {
      background-image: url("../../public/img/reg-bg.png");
      padding: 193px 0;
      background-position: center;
      background-size: cover;
      margin-bottom: 150px;
      &>div {
        background-color: #ffe062;
        &>div {
          &>div {
            h2 {
              color: #0179d6;
              font-size: 35px;
              font-weight: bold;
              max-width: 665px;
              margin: 0 auto;
              text-align: center;
              padding: 57px 0;
            }
            form {
              max-width: 500px;
              margin: 0 auto;
              margin-bottom: 90px;
              .form-control {
                color: $blue;
                &::-webkit-input-placeholder {
                  /* Chrome/Opera/Safari */
                  color: $blue;
                }
                &::-moz-placeholder {
                  /* Firefox 19+ */
                  color: $blue;
                }
                &:-ms-input-placeholder {
                  /* IE 10+ */
                  color: $blue;
                }
                &:-moz-placeholder {
                  /* Firefox 18- */
                  color: $blue;
                }
              }
              .btn-reg {
                background-color: #0179d6;
                border-radius: 0;
                margin-top: 50px;
              }
              .btn-code {
                border-color: #ced4da;
              }
            }
          }
        }
      }
    }
  }